.hello-world-banner {
    height: 300px;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 8em;
    color: white;
}
.topic-list > tbody > tr:nth-child(odd) {
    background-color: white;
}


.topic-list > tbody tr:not(.last-visit):not(.topic-list-item-separator) td {
    border-bottom: 1px solid #eee;
}

.topic-list a.title:not(.badge-notification) {
    color: #3b5998;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
    font-size: 18px;
}

.topic-list a.title:not(.badge-notification):hover {
    text-decoration: underline;
}

.topic-list .creator, .topic-list .editor {
    font-size: 13px;
    display: block;
    margin-top: 3px;
}

.topic-list .main-link {
    width: auto;
}

.topic-list {
    td, .creator a, .editor a {
        color: #888;
    }
}

.topic-list td {
    padding-bottom: 10px;
}

.topic-list th {
    color: black;
    background-color: #fafafa;
}
.topic-list {
    border-top: none;
}

.topic-list td:first-of-type {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.topic-list tr.topic-list-item-separator td:first-of-type {
    padding: 0;
}

 
.topic-list {
    .fa-tag {
        opacity: 0.7;
        font-size: 10px;
        margin-right: -2px;
    }
    .num.posts-map {
        position: relative;
        font-size: 17px;
        a {
            color: #888 !important;
            font-weight: normal;
        }
        a.heatmap-high {
            color: #c66 !important;   
        }
        width: 100px;
    }
}

.topic-list td.last-post, .topic-list th.activity {
    width: 160px;
    .relative-date {
        color: #666;
    }
}

.topic-list .creator .relative-date {
    margin-left: 8px;
}

.badge-category-bg {
    opacity: 0.8;
}

.topic-list .badge-wrapper.bar {
    .badge-category {
      color: #9a9a9a !important;
      font-weight: 600;
      font-size: 12px;
      padding: 2px 6px;
    }
    .badge-category-bg {
        top: -1px;
    }
}

.last-post {
    .poster-avatar {
        margin-right: 10px;
    }
    .poster-avatar, .poster-info {
        float: left;
    }
}

.topic-list .posts {
    width: auto;
}

/* topic page */
#topic-progress {
    background-color: #f1f1f1;
    color: #666;
    font-weight: normal;
    .bg {
       background-color: #bee9e9;
    }
}

nav.post-controls button.has-like {
    color: #08c;
}

.badge-wrapper.bullet span.badge-category {
    color: #333 !important;
}

.creator .badge-wrapper.bullet span.badge-category {
    color: #888 !important;
    margin-top: -2px;
}

img.avatar {
    border-radius: 3px;
}

#suggested-topics td.main-link {
    width: 500px;
}

.topic-list a.title.visited:not(.badge-notification) {
    color: #6644aa;
}


.topic-list-item .discourse-tags {
    font-size: 0.75em;
    display: inline-block;
    margin-left: 5px;
}

body {
.topic-list-item.visited a.badge-wrapper, 
.latest-topic-list-item.visited a.badge-wrapper, 
.category-topic-link.visited a.badge-wrapper {
    opacity: 1;
}
}
.poster-avatar{
    width: 32px;
    margin-right: 20px;
    float: left;
}
.right-section{
    float: left;
    .blogs-actions{
        ul{
            padding: 0;
            margin: 10px auto;
            
            li{
                list-style: none;
                display: inline-block;
                width: auto;
                margin-right: 15px;
            }
        }
    }
}
/*Adding DOW links to top - link text section*/
span#top-navbar-links {
    display:block !important;
    margin:22px 0 0 0;
}


/*Start dropping DOW Menu links & shortening title on small windows*/

.extra-info-wrapper .topic-link {
    max-width:600px;    
}

@media (min-width: 1150px) {
    .extra-info-wrapper .topic-link {
        max-width:600px;
         padding-right:250px; 
    }
}

@media (max-width: 1149px) {
    div.title-wrapper {
         padding-right:280px; 
    }
}

@media (min-width: 999px) {
    /*Adding DOW links to top - link container */
    div#top-navbar {
        max-width:none; /*remove max width*/
        width: auto; /*prevent other widths taking over*/
        z-index: 1040; /*stays on top of other header*/
        /*position:relative;
        float:left;*/
        position:fixed;
        top:0;
        left: 58%;
    }
}

@media (max-width: 998px) {  /*jumpover point, attach to right side*/

    div.title-wrapper {
        padding-right:220px;
    }
    
   /*Adding DOW links to top - link text section*/
span#top-navbar-links {
  position: fixed;
  top: 0;
  margin:22px 0px 0px -385px;
    }
    
    div#top-navbar {
    max-width:none; /*remove max width*/
    width: auto; /*prevent other widths taking over*/
    z-index: 1040; /*stays on top of other header*/
    float:right;
    position:relative;
    }
}

@media (max-width: 900px) {  /*jumpover point*/
/*div#top-navbar {
    left: 50%;
}*/
    div.title-wrapper {
        padding-right:220px;   
    }
}

@media (max-width: 725px) {
    a.dow-menu#library {
        display:none;
}
    div.title-wrapper {
        padding-right:135px;   
    }
    span#top-navbar-links {
        margin-left:-290px;
    }
}

@media (min-width: 571px) {
   i.fa.fa-home:before {
       display:none;
   } 
}

@media (max-width: 570px) {
    a.dow-menu#store {
        display:none;
    }
    span#top-navbar-links {
        margin:19px 0 0 -220px;
    }
    
    i.fa.fa-home:before {
        display:initial !important;
        color:#FFF;
        font-size:30px;
}

    span#home-text {
        display:none;
    }

    div.title-wrapper {
        padding-right: 50px;
    }
    .extra-info-wrapper {
        display: block;
}
}

@media (max-width:455px) {
    .extra-info-wrapper {
        display: none;
    }
}

/*Individual links*/
a.dow-menu {
    font-size: 14px;
    padding:0 13px;
    color:grey;
}
.alert.alert-info {
    display: none;
}
